@import "../commun/commun.css" ;

p {
    font-size: larger;
}

.double {
    background-color: lightgray;
    column-count: 2;
    column-gap: 10px ;
    column-rule-style: solid;
    column-rule-width: 1px;

}