@import "../commun/commun.css" ;

body {
    font-size: 20px;
}

.double {
    column-count: 2;
    column-gap: 10px ;
}

.triple {
    font-size: 14px;
    column-count: 3;
    column-gap: 4px ;
}